.home-cta {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 200px;
	width: 200px;
	border-radius: 100%;
	background-color: rgb(147, 150, 150);
}
.home-cta--secondary {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 200px;
	width: 200px;
	border-radius: 100%;
	background-color: rgb(194, 196, 196);
	border-style: solid;
	border-color: antiquewhite;
	span {
		color: black;
	}
}
.home-cta-text {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: 45px;
}

