.home-cta {
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-style: solid;
	height: 200px;
	width: 200px;
	border-radius: 100%;
}
.home-cta-text {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

