.project-title-page {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	border-style: solid;
	height: 86px;
	font-size: 50px;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	color: grey;
}
.project-line-two {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	margin-left: 200px;
	justify-content: center;
	align-items: center;
	height: 486px;
}

.project-one,
.project-two,
.project-three {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-style: solid;
	cursor: pointer;
	border-radius: 100%;
	width: 300px;
	height: 300px;
	border-color: grey;
}
.capudculotte {
	overflow: hidden;
	width: 300px;
	height: 300px;
}
.baptservices {
	overflow: hidden;
	width: 300px;
	height: 300px;
}

