.project-title-page {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	border-style: solid;
	border-color: red;
	height: 86px;
}
.project-line-two {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	margin-left: 200px;
	justify-content: space-around;
	align-items: center;
	gap: 10px;
	height: 486px;
}
.project-one,
.project-two,
.project-three,
.project-four,
.project-five,
.project-six {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-style: solid;
	cursor: pointer;
	border-radius: 100%;
	width: 200px;
	height: 200px;
	border-color: grey;
}
.capudculotte {
	overflow: hidden;
}

